<nav class="p-6 bg-aqua">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <p class="flex items-center">
      <span class="self-center text-xl font-semibold whitespace-nowrap text-black">Online Voting platform</span>
    </p>
    <div class="w-auto">
      <ul class="flex">
        <li>
          <p class="py-2"> <a href="/signout" class="bg-red-600 text-white px-4 py-1 rounded font-medium mr-2 mb-2" >Signout</a> </p>
        </li>
      </ul>
    </div>
  </div>
</nav>